<app-hero [article]="news"></app-hero>

<app-home-category
  title="football"
  [news]="footballNews"
></app-home-category>

<app-home-category
  title="basketball"
  [news]="basketballNews"
></app-home-category>

<app-home-category
  title="hockey"
  [news]="hockeyNews"
></app-home-category>

<app-home-category
  title="tennis"
  [news]="tennisNews"
></app-home-category>

<app-home-category
  title="nfl"
  [news]="nflNews"
></app-home-category>

<app-home-category
  title="baseball"
  [news]="baseballNews"
></app-home-category>
